
/*-------------------------------------
		1.General css (Reset code)
--------------------------------------*/
*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	color: #676a81;
	background: #fff;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

a,a:hover,a:active,a:focus {
	display:inline-block;
	text-decoration:none;
	color: #6a708e;
	font-size:16px;
	padding:0;
}
h1,h2,h3,h4,h5,h6 { 
	margin: 0;
	color:#43485c;
    font-size: 16px;
	font-family: 'Poppins', sans-serif;
	text-transform: capitalize;
}
p {
	margin: 0;
	line-height:1.8;
	color:#43485c;
	font-size:14px;
	font-family: 'Poppins', sans-serif;
}
img{border:none;max-width:100%; height:auto;}
ul{
	padding: 0;
    margin: 0 auto;
    list-style: none;
}
ul li {
	list-style: none;
	
}
select,input,textarea,button{box-shadow:none;outline:0!important;}
button {background: transparent;border: 0;}

html,body{
    height: 100%;
	position: relative;
}
[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease; 
  -moz-transition: opacity 0.3s 0.3s ease; 
  -ms-transition: opacity 0.3s 0.3s ease; 
  -o-transition: opacity 0.3s 0.3s ease; 
  transition: opacity 0.3s 0.3s ease; 
  opacity: 0;
}

.fix{position: relative;clear: both;}
/*=============Style css=========*/

/*-------------------------------------
        2. Header
--------------------------------------*/
.top-area {
    position: relative;
    z-index: 9999;
}
@media (min-width: 1024px){}
nav.navbar.bootsnav.no-background {
    background-color: #fff;
    border: none;
}

nav.navbar.bootsnav {
    background-color: #fff;
    border-bottom: transparent;
    box-shadow: 0 3px 15px rgba(0,0,0,.2);
}

/*.navbar-brand*/
.navbar-header a.navbar-brand,.navbar-header a.navbar-brand:hover,.navbar-header a.navbar-brand:focus {
    display: inline-block;
    color: #b9262b;
    font-size: 20px;
    font-weight: 600;
    padding: 33px 0px 57px;
    text-transform: uppercase;
}
/*.navbar-brand*/

/*.nav li*/
nav.navbar.bootsnav ul.nav > li > a {
    font-size: 18px;
    font-weight: 700;

    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
    color: rgb(150, 3, 3);
    
}
nav.navbar.bootsnav ul.nav > li > a {padding: 35px 20px;}
nav.navbar.bootsnav ul.nav > li > a:hover,nav.navbar.bootsnav ul.nav > li > a:focus,nav.navbar.bootsnav ul.nav > li.active>a{color: #662549;}

nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after {
    content: "";
}
nav.navbar.bootsnav ul.nav > li.dropdown span {
    font-size: 8px;
    margin-left: 15px;
}
.sticky-wrapper.is-sticky nav.navbar.bootsnav ul.nav > li > a {color:#6a708e;}
.sticky-wrapper.is-sticky nav.navbar.bootsnav ul.nav > li > a:hover,.sticky-wrapper.is-sticky nav.navbar.bootsnav ul.nav > li > a:focus,.sticky-wrapper.is-sticky nav.navbar.bootsnav ul.nav > li.active>a{color: #d92cf9;}




/*.menu-ui-design*/
.menu-ui-design{overflow-y:scroll;height: 350px;}
.menu-ui-design::-webkit-scrollbar {
    width:5px;
}
.menu-ui-design::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px #000;
}
.menu-ui-design::-webkit-scrollbar-thumb {
  background-color: #b31414;
}
/*.menu-ui-design*/



/*.navbar-toggle */
nav.navbar.bootsnav .navbar-toggle {
    position: relative;
    background-color: transparent;
    border: 1px solid #a21818;
    padding: 10px;
    top: 0;
}
nav.navbar.bootsnav .navbar-toggle i{color: #ba213f;}
/*.navbar-toggle */



/*-------------------------------------
        3.  Welcome-hero
--------------------------------------*/
.welcome-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    background:url(../images/about/blood_bg.jpg)no-repeat;
    background-size:cover;
    background-position: center;
    height:700px;
}
.welcome-hero:before{
    position:absolute;
    content: " ";
    top:0;
    left:0;
    background:rgba(70, 15, 15, 0.65);
    width:100%;
    height:100%;
}

/*.header-text-area*/
.header-text h3 {
    color: #fff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.6;
}

.header-text h2 span {color: #ffffff;}  
.header-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 30px 0 60px;
    letter-spacing: 1px;
}


/* Button style */
.join-btn {
    background-color: #4793AF;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.3s;
    
}

.join-btn:hover {
    background-color: #ffffff;
    color: #000;
    border-color: #000;
}

/*  */
/*  */

/*-------------------------------------
        4.  About
--------------------------------------*/
/* New CSS for the about section */
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 90px 0px;
    margin-left: 170px; /* Adjust margin-left to center the content */
}

.about-content {
    text-align: center;
    max-width: 1100px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the content horizontally */
    padding-left: 370px; /* Adjust padding-left to compensate for margin-left */
}

.single-about-txt h3 {
    font-size: 18px;
    color: #3c4258;
    text-transform: initial;
    line-height: 2.0;
    margin-top: 14px;
    margin-bottom: 60px;
}

.single-about-txt p {
    font-size: 16px;
    color: #999fb3;
    padding: 35px 0 43px;
    margin: 0 auto; /* Centers the element horizontally */
    max-width: 600px; /* Optional: Set a maximum width */
    text-align: center;
}

.dropdowns-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 600px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the content horizontally */
}

.dropdown-container {
    width: calc(50% - 10px); /* Adjust width as needed */
}

.dropdown-container label {
    display: block;
    margin-bottom: 5px;
}

.dropdown-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#sendRequest {
    margin-bottom: 25px;
    align-items:center;
    height:50px;
    text-transform:capitalize;
    margin-top: 21px;
    background: #750E21;
    width: 140px;
    color:white;
    border-radius: 24px;
    font-size: 15px;
}

#sendRequest:hover {
    background-color: #540000;
    color: #ffffff;
    border-color: #000;
}

.about-text-center {
    display: block;
    text-align: center; /* Reset text alignment */
    max-width: 100%; /* Optional: Set a maximum width */
}





/*-------------------------------------
        11. Contact
--------------------------------------*/
.contact {
    background: #efc2c2;
    padding: 50px 0 100px;
}
.single-contact-box {padding-top: 100px;}
.contact-form  .form-group {
    margin-bottom: 20px;
    
}
.contact h2{
    font-size: 20px;

    margin-bottom: 29px;
}
.contact-form .form-control {
    padding: 25px;
    font-size: 1px;
    border: 1px solid #fff;
    border-radius: 0px;
    box-shadow: none;
    outline: 0!important;
    background: #fff;
    color: #636a82;
    resize: none;
}

/*--contct button--*/
.contact-form .single-contact-btn {
    display:flex;
    align-items:center;
    justify-content:center;
    height:50px;
    text-transform:capitalize;
    margin-top: 3px;
    background: #750E21;
    /* border: 1px solid #9B3922; */
    cursor:pointer;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
     -webkit-transition: .5s; 
    -moz-transition:.5s; 
    -ms-transition:.5s; 
    -o-transition:.5s;
    transition: .5s;
}
.contact-form .single-contact-btn .contact-btn ,
.contact-form .single-contact-btn .contact-btn:focus {
    margin-top:0px;
    outline: 0 !important;
    border:0;
    color: #fff;
    border-radius: 0px;
    font-size:14px;
    -webkit-transition: .5s; 
    -moz-transition:.5s; 
    -ms-transition:.5s; 
    -o-transition:.5s;
    transition: .5s;
    
}
.single-contact-btn:hover{
    background: #9B3922;
    border: 1px solid #481E14;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
}

/*--contct button--*/

/* contact-adress */
.contact-add-head h2 {
    font-size:  24px;
    color:  #3c4258;
}
.contact-add-head p {
    font-size:  14px;
    text-transform: capitalize;
    color:  #636a82;
    font-weight:  300;
    margin-top:  6px;
}
/* contact-adress */

/*.contact-add-info */
.contact-add-info { margin: 42px 0 52px;}
.single-contact-add-info h3 {
    color:  #636a82;
    font-weight:  500;
}
.single-contact-add-info p {
    color:  #999fb3;
    font-size:  16px;
    margin-top:  18px;
}
.single-contact-add-info {
    margin-bottom:  26px;
}

.faq-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #221313; /* Add a border between FAQ items */
    transition: border-color 0.3s; /* Add transition for border color */
}

.question {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px; /* Increase the font size of the question */
    margin-bottom: 5px; /* Add space below the question */
}

.toggle-sign {
    float: right;
    font-size: 24px; /* Increase the font size of the plus sign */
    transition: transform 0.3s; /* Add transition for the plus sign */
}

.answer {
    display: none;
    padding-left: 20px; /* Add padding for the answer content */
    transition: max-height 0.3s ease-in-out, padding 0.3s; /* Add transition for the answer content */
    max-height: 0;
    overflow: hidden;
}

.answer.show {
    display: block;
    max-height: 500px; /* Set a maximum height for the answer content */
    padding: 10px 0; /* Add padding for the shown answer content */
}




/*hm-foot-icon*/

.hm-foot-icon ul li{float:left;}
.hm-foot-icon ul li>a {
    color: #636a82;
    margin-right:18px;
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
}
.hm-foot-icon ul li>a:hover{
    color: #481E14;
}/*hm-foot-icon*/

.hm-footer-copyright p{
    color: #888ea5;
    text-transform: capitalize;
    padding: 38px 0;
}
.hm-footer-copyright p a {color: #888ea5;}
/*===============================
    Scroll Top
===============================*/

/*========================Thank you=================